* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: slategrey;
}

.header {
    margin-bottom: 20px;
    background-image: url(../image/headerimg.jpg);
    background-position: center;
    font-family: 'Volkhov', serif; 
    text-align: center;
    color: snow;
    position: static;
}
.footerText {
    background-color: rgb(208, 224, 233);
    text-align: center;
    
}

.collapse.in{
    display:block !important;
    float: left;
    width: 100%;
}
#fir{
width: 50%;
}
#sec{
width:50%
}