
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: rgb(211, 219, 235);
}

.header {
   margin-bottom: 0%;
    background-image: url(../image/headerimg.jpg);
    font-family: 'Volkhov', serif; 
    text-align: center;
    color: snow;
    position: static;
}
.footerText {
    text-align: center;
    color: grey;
}

.collapse.in{
    display:block !important;
    float: left;
    width: 100%;
}
.info{
    color: grey;
    padding: 10px;
}
@media screen and (max-width: 850px) {
    .col-sm {
     width: 100%;
    }
    .col{
     width: 100%;
    }
}

.items{
    background-color: rgb(255, 255, 255, 0.4);
    margin-bottom: 5%;
}
.nav{
    background-color: rgba(111, 125, 170, 0.4);
    margin-bottom: 5%;}


@media (max-width:480px){
    .stack{
    display:flex;
    }
}